In [1]:
import numpy as np
import pandas as pd
import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import requests

# Assignemnt no. 1

In [17]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [18]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [49]:
data=[]
name1=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td')
for i in name1:
    data.append(i.text)

In [52]:
data

['1.',
 '"Baby Shark Dance"[4]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '12.37',
 'June 17, 2016',
 '[A]',
 '2.',
 '"Despacito"[7]',
 'Luis Fonsi',
 '8.09',
 'January 12, 2017',
 '[B]',
 '3.',
 '"Johny Johny Yes Papa"[14]',
 'LooLoo Kids',
 '6.63',
 'October 8, 2016',
 '[C]',
 '4.',
 '"Bath Song"[15]',
 'Cocomelon – Nursery Rhymes',
 '6.03',
 'May 2, 2018',
 '[D]',
 '5.',
 '"Shape of You"[16]',
 'Ed Sheeran',
 '5.92',
 'January 30, 2017',
 '[E]',
 '6.',
 '"See You Again"[18]',
 'Wiz Khalifa',
 '5.79',
 'April 6, 2015',
 '[F]',
 '7.',
 '"Phonics Song with Two Words"[23]',
 'ChuChu TV',
 '5.17',
 'March 6, 2014',
 '[G]',
 '8.',
 '"Wheels on the Bus"[24]',
 'Cocomelon – Nursery Rhymes',
 '4.95',
 'May 24, 2018',
 '',
 '9.',
 '"Uptown Funk"[25]',
 'Mark Ronson',
 '4.84',
 'November 19, 2014',
 '[H]',
 '10.',
 '"Learning Colors – Colorful Eggs on a Farm"[26]',
 'Miroshka TV',
 '4.83',
 'February 27, 2018',
 '[I]',
 '11.',
 '"Gangnam Style"[27]',
 'Psy',
 '4.70',
 'July 15, 2012',
 '[J]',
 '12.',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 'Get Movies',
 '4.53',
 'January 31, 2012',
 '[K]',
 '13.',
 '"Dame Tu Cosita"[33]',
 'El Chombo',
 '4.24',
 'April 5, 2018',
 '',
 '14.',
 '"Sugar"[34]',
 'Maroon 5',
 '3.82',
 'January 14, 2015',
 '',
 '15.',
 '"Axel F"[35]',
 'Crazy Frog',
 '3.76',
 'June 16, 2009',
 '',
 '16.',
 '"Roar"[36]',
 'Katy Perry',
 '3.73',
 'September 5, 2013',
 '',
 '17.',
 '"Counting Stars"[37]',
 'OneRepublic',
 '3.73',
 'May 31, 2013',
 '',
 '18.',
 '"Sorry"[38]',
 'Justin Bieber',
 '3.63',
 'October 22, 2015',
 '',
 '19.',
 '"Thinking Out Loud"[39]',
 'Ed Sheeran',
 '3.55',
 'October 7, 2014',
 '',
 '20.',
 '"Baa Baa Black Sheep"[40]',
 'Cocomelon – Nursery Rhymes',
 '3.51',
 'June 25, 2018',
 '',
 '21.',
 '"Waka Waka (This Time for Africa)"[41]',
 'Shakira',
 '3.48',
 'June 4, 2010',
 '',
 '22.',
 '"Dark Horse"[42]',
 'Katy Perry',
 '3.45',
 'February 20, 2014',
 '',
 '23.',
 '"Faded"[43]',
 'Alan Walker',
 '3.41',
 'December 3, 2015',
 '',
 '24.',
 '"Let Her Go"[44]',
 'Passenger',
 '3.38',
 'July 25, 2012',
 '',
 '25.',
 '"Girls Like You"[45]',
 'Maroon 5',
 '3.37',
 'May 31, 2018',
 '',
 '26.',
 '"Perfect"[46]',
 'Ed Sheeran',
 '3.37',
 'November 9, 2017',
 '',
 '27.',
 '"Bailando"[47]',
 'Enrique Iglesias',
 '3.34',
 'April 11, 2014',
 '',
 '28.',
 '"Lean On"[48]',
 'Major Lazer',
 '3.33',
 'March 22, 2015',
 '',
 '29.',
 '"Lakdi Ki Kathi"[49]',
 'Jingle Toons',
 '3.32',
 'June 14, 2018',
 '',
 '30.',
 '"Humpty the train on a fruits ride"[50]',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 '3.31',
 'January 26, 2018',
 '']

In [55]:
number1=data[::6]
name=data[1::6]
artist=data[2::6]
views=data[3::6]
date=data[4::6]

In [56]:
len(number1),len(name),len(artist),len(views),len(date)

(30, 30, 30, 30, 30)

In [57]:
df1=pd.DataFrame({'Rank': number1,'Name':name,'Artist':artist,'Uploaded Date':date,'Views in Milions':views})
df1

,Rank,Name,Artist,Uploaded Date,Views in Milions
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

# Assigment No. 2

In [11]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [12]:
driver.get('https://www.bcci.tv/')

In [28]:
title=[]
series=[]
place=[]
date=[]
time2=[]
title1=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title1[:3]:
    title.append(i.text)
    
series1=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series1[:3]:
    series.append(i.text)

place1=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place1[:3]:
    place.append(i.text)

date1=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date1[:3]:
    date.append(i.text)

time1=driver.find_elements(By.XPATH,'//h5[@class="match-time ng-binding"]')
for i in time1[:3]:
    time2.append(i.text)

In [23]:
len(title),len(series),len(place),len(date),len(time2)

(3, 3, 3, 3, 3)

In [74]:
df2=pd.DataFrame({'Title':title,'Series':series,'Place':place,'Date':date,'Time':time2})
df2

,Title,Series,Place,Date,Time
0,1st ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
2,3rd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

# Assignment No. 3

In [75]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [77]:
driver.get('https://www.statisticstimes.com/')

In [79]:
trading=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
trading.click()

In [80]:
trading_n=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
trading_n.click()

In [86]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india.click()

In [129]:
State=[]
Rank1=[]
state1=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state1[:33]:
    State.append(i.text)

rank1=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank1[:33]:
    Rank1.append(i.text)

In [98]:
GDP_19_20=[]
gdp1=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in gdp1:
    GDP_19_20.append(i.text)

In [99]:
GDP_19_20

['-',
 '13.94%',
 '399.921',
 '-',
 '2,039,074',
 '1,845,853',
 '8.63%',
 '247.629',
 '1,312,929',
 '1,215,307',
 '1,687,818',
 '8.39%',
 '240.726',
 '1,166,817',
 '1,123,982',
 '-',
 '7.96%',
 '228.290',
 '-',
 '1,186,379',
 '1,631,977',
 '7.91%',
 '226.806',
 '1,156,039',
 '1,091,077',
 '1,253,832',
 '5.77%',
 '165.556',
 '793,223',
 '739,525',
 '1,020,989',
 '4.99%',
 '143.179',
 '711,627',
 '677,428',
 '972,782',
 '4.57%',
 '131.083',
 '672,018',
 '621,301',
 '969,604',
 '4.56%',
 '130.791',
 '663,258',
 '612,828',
 '906,672',
 '4.29%',
 '122.977',
 '561,801',
 '522,009',
 '-',
 '4.14%',
 '118.733',
 '-',
 '559,412',
 '856,112',
 '4.10%',
 '117.703',
 '634,408',
 '590,569',
 '831,610',
 '3.89%',
 '111.519',
 '572,240',
 '531,085',
 '611,804',
 '2.81%',
 '80.562',
 '414,977',
 '375,651',
 '574,760',
 '2.79%',
 '79.957',
 '418,868',
 '397,669',
 '521,275',
 '2.58%',
 '74.098',
 '396,499',
 '376,877',
 '-',
 '1.67%',
 '47.982',
 '-',
 '234,048',
 '329,180',
 '1.61%',
 '46.187',
 '243,477',
 '231,182',
 '328,598',
 '1.57%',
 '45.145',
 '240,036',
 '224,986',
 '-',
 '1.30%',
 '37.351',
 '-',
 '193,273',
 '-',
 '0.83%',
 '23.690',
 '-',
 '112,755',
 '165,472',
 '0.81%',
 '23.369',
 '124,403',
 '117,851',
 '80,449',
 '0.39%',
 '11.115',
 '63,408',
 '57,787',
 '55,984',
 '0.26%',
 '7.571',
 '40,583',
 '36,963',
 '-',
 '0.22%',
 '6.397',
 '-',
 '31,192',
 '38,253',
 '0.18%',
 '5.230',
 '25,093',
 '23,013',
 '36,572',
 '0.18%',
 '5.086',
 '26,695',
 '24,682',
 '32,496',
 '0.15%',
 '4.363',
 '20,017',
 '18,722',
 '31,790',
 '0.15%',
 '4.233',
 '20,673',
 '19,300',
 '-',
 '0.14%',
 '4.144',
 '-',
 '17,647',
 '-',
 '0.13%',
 '3.737',
 '-',
 '16,676',
 '26,503',
 '0.12%',
 '3.385',
 '18,797',
 '16,478',
 '-',
 '-',
 '-',
 '-',
 '-',
 '20,351,013',
 '18,886,957',
 '',
 '2,869',
 '14,569,268',
 '14,003,316',
 '-',
 '13.97%',
 '-',
 '1,794,123',
 '1,659,210',
 '8.77%',
 '1,167,776',
 '1,079,894',
 '1,495,758',
 '8.41%',
 '1,015,735',
 '979,159',
 '1,476,983',
 '8.09%',
 '1,035,131',
 '976,948',
 '-',
 '7.92%',
 '-',
 '1,036,859',
 '1,150,711',
 '5.96%',
 '713,376',
 '662,432',
 '916,014',
 '5.06%',
 '630,693',
 '600,433',
 '881,873',
 '4.68%',
 '594,806',
 '549,481',
 '875,429',
 '4.65%',
 '595,605',
 '550,584',
 '827,019',
 '4.41%',
 '496,798',
 '461,903',
 '-',
 '4.24%',
 '-',
 '513,322',
 '779,647',
 '4.22%',
 '568,265',
 '529,739',
 '755,790',
 '3.99%',
 '514,983',
 '477,834',
 '562,710',
 '2.91%',
 '377,276',
 '340,512',
 '517,521',
 '2.83%',
 '374,015',
 '354,830',
 '457,757',
 '2.56%',
 '344,437',
 '327,805',
 '-',
 '1.69%',
 '-',
 '207,193',
 '301,242',
 '1.63%',
 '218,232',
 '204,423',
 '288,041',
 '1.60%',
 '210,837',
 '200,453',
 '-',
 '1.33%',
 '-',
 '173,211',
 '143,063',
 '0.80%',
 '107,171',
 '101,534',
 '-',
 '0.78%',
 '-',
 '91,666',
 '72,181',
 '0.40%',
 '56,810',
 '51,878',
 '50,227',
 '0.27%',
 '35,980',
 '32,830',
 '-',
 '0.22%',
 '-',
 '27,565',
 '34,823',
 '0.19%',
 '22,291',
 '20,534',
 '32,833',
 '0.18%',
 '23,564',
 '21,779',
 '29,148',
 '0.15%',
 '18,549',
 '17,228',
 '28,391',
 '0.15%',
 '17,060',
 '15,972',
 '-',
 '0.15%',
 '-',
 '15,381',
 '-',
 '0.13%',
 '-',
 '15,013',
 '24,424',
 '0.13%',
 '17,797',
 '15,372',
 '-',
 '-',
 '-',
 '-',
 '17,994,301',
 '16,704,645',
 '',
 '12,681,246',
 '12,240,380']

In [100]:
len(GDP_19_20)

308

In [107]:
GDP_19_20_1=GDP_19_20[::5]

In [134]:
GDP_19_20_1=GDP_19_20_1[:33]
#GDP_19_20_1

In [131]:
GDP_18_19=[]
gdp1=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gdp1[:33]:
    GDP_18_19.append(i.text)

In [123]:
share=GDP_19_20[1::5]
share=share[:33]

In [126]:
GDP=GDP_19_20[4::5]
GDP=GDP[:33]

In [133]:
df3=pd.DataFrame({'Rank':Rank1,'State':State,'GSDP(18-19)- at current prices':GDP_18_19 ,' GSDP(19-20)- at current prices':GDP_19_20_1,'Share(18-19)':share,' GDP($ billion)': GDP})
df3

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,"2,039,074"
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,"1,215,307"
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,"1,123,982"
3,4,Gujarat,"1,502,899",-,7.96%,"1,186,379"
4,5,Karnataka,"1,493,127","1,631,977",7.91%,"1,091,077"
5,6,West Bengal,"1,089,898","1,253,832",5.77%,"739,525"
6,7,Rajasthan,"942,586","1,020,989",4.99%,"677,428"
7,8,Andhra Pradesh,"862,957","972,782",4.57%,"621,301"
8,9,Telangana,"861,031","969,604",4.56%,"612,828"
9,10,Madhya Pradesh,"809,592","906,672",4.29%,"522,009"
10,11,Kerala,"781,653",-,4.14%,"559,412"
11,12,Delhi,"774,870","856,112",4.10%,"590,569"
12,13,Haryana,"734,163","831,610",3.89%,"531,085"
13,14,Bihar,"530,363","611,804",2.81%,"375,651"
14,15,Punjab,"526,376","574,760",2.79%,"397,669"
15,16,Odisha,"487,805","521,275",2.58%,"376,877"
16,17,Assam,"315,881",-,1.67%,"234,048"
17,18,Chhattisgarh,"304,063","329,180",1.61%,"231,182"
18,19,Jharkhand,"297,204","328,598",1.57%,"224,986"
19,20,Uttarakhand,"245,895",-,1.30%,"193,273"
20,21,Jammu & Kashmir,"155,956",-,0.83%,"112,755"
21,22,Himachal Pradesh,"153,845","165,472",0.81%,"117,851"
22,23,Goa,"73,170","80,449",0.39%,"57,787"
23,24,Tripura,"49,845","55,984",0.26%,"36,963"
24,25,Chandigarh,"42,114",-,0.22%,"31,192"
25,26,Puducherry,"34,433","38,253",0.18%,"23,013"
26,27,Meghalaya,"33,481","36,572",0.18%,"24,682"
27,28,Sikkim,"28,723","32,496",0.15%,"18,722"
28,29,Manipur,"27,870","31,790",0.15%,"19,300"
29,30,Nagaland,"27,283",-,0.14%,"17,647"
30,31,Arunachal Pradesh,"24,603",-,0.13%,"16,676"
31,32,Mizoram,"22,287","26,503",0.12%,"16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-

# Assignment No. 4

In [112]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [113]:
driver.get('https://github.com/')

In [114]:
trading=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
trading.click()

In [115]:
trading_n=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trading_n.click()

In [116]:
url=[]
url1=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in url1:
    url.append(i.get_attribute('href'))

In [117]:
url

['https://github.com/dreamworksanimation/openmoonray',
 'https://github.com/comfyanonymous/ComfyUI',
 'https://github.com/logspace-ai/langflow',
 'https://github.com/setzer22/llama-rs',
 'https://github.com/ayaka14732/ChatGPTAPIFree',
 'https://github.com/whoiskatrin/sql-translator',
 'https://github.com/acheong08/EdgeGPT',
 'https://github.com/apache/incubator-opendal',
 'https://github.com/tloen/alpaca-lora',
 'https://github.com/THUDM/ChatGLM-6B',
 'https://github.com/xx025/carrot',
 'https://github.com/brunosimon/folio-2019',
 'https://github.com/microsoft/unilm',
 'https://github.com/massgravel/Microsoft-Activation-Scripts',
 'https://github.com/lapce/lapce',
 'https://github.com/openai/openai-cookbook',
 'https://github.com/karpathy/nanoGPT',
 'https://github.com/openai/evals',
 'https://github.com/WassimTenachi/PhySO',
 'https://github.com/chathub-dev/chathub',
 'https://github.com/pytorch/pytorch',
 'https://github.com/Const-me/Whisper',
 'https://github.com/nuxt/nuxt',
 'https://github.com/huggingface/transformers',
 'https://github.com/Chanzhaoyu/chatgpt-web']

In [118]:
lang=[]
try:
    lang1=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/div/span/span')
    for i in lang1:
        lang.append(i.text)
except NoSuchElementException:
    lang.append('-')

In [119]:
len(lang)

48

In [129]:
lang0=lang[1::2]

In [130]:
lang0

['CMake',
 'Python',
 'TypeScript',
 'Rust',
 'JavaScript',
 'TypeScript',
 'Python',
 'Rust',
 'Jupyter Notebook',
 'Python',
 'JavaScript',
 'Python',
 'Batchfile',
 'Rust',
 'Jupyter Notebook',
 'Python',
 'Python',
 'Python',
 'TypeScript',
 'C++',
 'C++',
 'TypeScript',
 'Python',
 'Vue']

In [133]:
lang0.insert(10,'-')

In [134]:
len(lang0)

25

In [135]:
title_re=[]
description=[]
contributors=[]
language=[]
for url in url:
    driver.get(url)
    time.sleep(2)
    try:
        title1=driver.find_elements(By.XPATH,'//*[@id="repository-container-header"]/div[1]/div/div/strong/a')
        for i in title1:
            title_re.append(i.text)
    except NoSuchElementException:
        title_re.append('-')
            
    
    try:
        title1=driver.find_elements(By.XPATH,'//*[@id="readme"]/div[2]/article/p[1]')
        for i in title1:
            description.append(i.text)
    except NoSuchElementException:
        description.append('-')
        
    try:
        contri1=driver.find_elements(By.XPATH,'//*[@id="repo-network-counter"]')
        for i in contri1:
            contributors.append(i.text)
    except NoSuchElementException:
        contributors.append('-')
    
    try:
        lang1=driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        for i in lang1:
            language.append(i.text)
    except NoSuchElementException:
        language.append('-')

In [136]:
len(description),len(title_re),len(contributors),len(language)

(25, 25, 25, 88)

In [138]:
df4=pd.DataFrame({' Repository title': title_re,'Repository description':description,' Contributors count':contributors,'Language used':lang0})
df4

,Repository title,Repository description,Contributors count,Language used
0,openmoonray,"MoonRay is DreamWorks’ open-source, award-winn...",103,CMake
1,ComfyUI,,156,Python
2,langflow,~ A User Interface For LangChain ~,36,TypeScript
3,llama-rs,,27,Rust
4,ChatGPTAPIFree,简体中文版 - 繁體中文版,150,JavaScript
5,sql-translator,Welcome to the SQL and Natural Language Transl...,119,TypeScript
6,EdgeGPT,,301,Python
7,incubator-opendal,"Open Data Access Layer: Access data freely, pa...",102,Rust
8,alpaca-lora,Try the pretrained model out on Colab here! If...,87,Jupyter Notebook
9,ChatGLM-6B,ChatGLM-6B 是一个开源的、支持中英双语的对话语言模型，基于 General Lan...,410,Python
10,carrot,这儿收集了一些免费好用的ChatGPT镜像站点,213,-
11,folio-2019,Download Node.js. Run this followed commands:,602,JavaScript
12,unilm,We are hiring at all levels (including FTE res...,1.7k,Python
13,Microsoft-Activation-Scripts,A Windows and Office activator using HWID / KM...,3.1k,Batchfile
14,lapce,Lapce (IPA: /læps/) is written in pure Rust wi...,716,Rust
15,openai-cookbook,The OpenAI Cookbook shares example code for ac...,2.6k,Jupyter Notebook
16,nanoGPT,,1.6k,Python
17,evals,Evals is a framework for evaluating OpenAI mod...,747,Python
18,PhySO,The physical symbolic regression (\nΦ\n-SO ) p...,114,Python
19,chathub,ChatHub is an all-in-one chatbot client,120,TypeScript
20,pytorch,,17.7k,C++
21,Whisper,This project is a Windows port of the whisper....,79,C++
22,nuxt,,3.7k,TypeScript
23,transformers,,18.6k,Python
24,chatgpt-web,,2k,Vue

# Assignment 5

In [3]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [4]:
driver.get('https://www.billboard.com/')

In [5]:
main=driver.find_element(By.XPATH,'/html/body')
main.click()

In [6]:
main_d=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
#main_d.click()

In [7]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [9]:
view_chart=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_chart.click()

In [13]:
song_5=[]
artist_5=[]
last_week=[]
song1=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in song1:
    song_5.append(i.text)
    
artist1=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist1:
    artist_5.append(i.text)
    
week1=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in week1:
    last_week.append(i.text)

In [14]:
len(song_5),len(artist_5),len(last_week)

(99, 99, 594)

In [22]:
last_week

In [19]:
last=last_week[::6]
peak_rank=last_week[1::6]
weeks_on_board=last_week[2::6]

In [20]:
len(last),len(peak_rank),len(weeks_on_board)

(99, 99, 99)

In [21]:
df5=pd.DataFrame({'Song Name':song_5,'Artist name':artist_5,'Last week rank':last,'Peak rank':peak_rank,'Weeks on board':weeks_on_board})
df5

,Song Name,Artist name,Last week rank,Peak rank,Weeks on board
0,Flowers,Miley Cyrus,1,1,7
1,Kill Bill,SZA,2,2,12
2,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,3,3,4
3,Last Night,Morgan Wallen,5,3,5
4,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,13
...,...,...,...,...,...
94,Besties,Karol G,-,96,1
95,Yandel 150,Yandel & Feid,90,90,4
96,Manana Sera Bonito,Karol G & Carla Morrison,-,98,1
97,The Color Violet,Tory Lanez,84,63,9
98,Die 4 Me,Halsey,-,100,1

# Assignment 6

In [2]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [4]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [6]:
data=[]
data1=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in data1:
    data.append(i.text)

In [7]:
data

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [11]:
name1=data[1::5]
author=data[2::5]
volume_sold=data[3::5]
publisher=data[4::5]

In [13]:
genre=[]
genre1=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre1:
    genre.append(i.text)

In [14]:
len(name1),len(author),len(volume_sold),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [15]:
df6=pd.DataFrame({'Book name':name1,'Author name':author,'Volumes sold': volume_sold,'Publisher':publisher,'Genre':genre})
df6

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Assignment 7

In [19]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [20]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [53]:
name_7=[]
year_7=[]
genre_7=[]
run_time=[]
name1=driver.find_elements(By.XPATH,' //h3[@class="lister-item-header"]/a')
for i in name1:
    name_7.append(i.text)

year1=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year1:
    year_7.append(i.text)

genre1=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre1:
    genre_7.append(i.text)

run1=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run1:
    run_time.append(i.text)

In [54]:
len(name_7),len(year_7),len(genre_7),len(run_time)

(100, 100, 100, 100)

In [61]:
rating=[]
rating1=driver.find_elements(By.XPATH,'//span[@class="ipl-rating-star__rating"]')
for i in rating1:
    rating.append(i.text)

In [63]:
len(rating)

2300

In [66]:
rating1=rating[::23]
#rating1

In [48]:
votes=[]
votes1=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span')
for i in votes1:
    votes.append(i.text)

In [49]:
votes

['TV-MA',
 '|',
 '57 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '2,135,558',
 'TV-14',
 '|',
 '51 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '1,220,982',
 'TV-MA',
 '|',
 '44 min',
 '|',
 'Drama, Horror, Thriller',
 'Votes:',
 '1,013,664',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Mystery, Thriller',
 'Votes:',
 '298,669',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '257,555',
 'TV-MA',
 '|',
 '59 min',
 '|',
 'Comedy, Crime, Drama',
 'Votes:',
 '306,951',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '147,095',
 'TV-14',
 '|',
 '41 min',
 '|',
 'Drama, Romance',
 'Votes:',
 '316,388',
 'TV-PG',
 '|',
 '43 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '351,561',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Adventure, Crime',
 'Votes:',
 '435,229',
 'TV-MA',
 '|',
 '70 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '488,374',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Comedy, Romance',
 'Votes:',
 '820,872',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '561,032',
 'TV-14',
 '|',
 '88 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '940,360',
 'TV-MA',
 '|',
 '44 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '544,404',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Mystery, Romance',
 'Votes:',
 '170,469',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '327,741',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Horror, Sci-Fi',
 'Votes:',
 '324,451',
 'TV-MA',
 '|',
 '49 min',
 '|',
 'Crime, Drama, Thriller',
 'Votes:',
 '1,937,699',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Crime, Drama, Fantasy',
 'Votes:',
 '331,463',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '453,350',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '545,355',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '155,427',
 'TV-14',
 '|',
 '41 min',
 '|',
 'Action, Drama, Fantasy',
 'Votes:',
 '153,777',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Animation, Comedy',
 'Votes:',
 '413,461',
 'TV-PG',
 '|',
 '60 min',
 '|',
 'Adventure, Fantasy, Romance',
 'Votes:',
 '227,784',
 'TV-MA',
 '|',
 '49 min',
 '|',
 'Biography, Crime, Drama',
 'Votes:',
 '432,684',
 'TV-MA',
 '|',
 '54 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '448,069',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Comedy, Romance',
 'Votes:',
 '1,013,420',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Comedy, Romance',
 'Votes:',
 '694,020',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '418,985',
 'TV-MA',
 '|',
 '49 min',
 '|',
 'Crime, Drama, Thriller',
 'Votes:',
 '394,193',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '139,097',
 'TV-PG',
 '|',
 '43 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '125,650',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Drama, Romance',
 'Votes:',
 '178,818',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '156,703',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '233,144',
 'TV-MA',
 '|',
 '62 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '511,853',
 'TV-MA',
 '|',
 '56 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '217,599',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Comedy, Drama, Romance',
 'Votes:',
 '441,229',
 'TV-14',
 '|',
 '23 min',
 '|',
 'Animation, Adventure, Comedy',
 'Votes:',
 '541,111',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Drama, Fantasy',
 'Votes:',
 '65,597',
 'TV-MA',
 '|',
 '25 min',
 '|',
 'Adventure, Comedy, Crime',
 'Votes:',
 '198,231',
 'TV-MA',
 '|',
 '51 min',
 '|',
 'Drama',
 'Votes:',
 '510,421',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '401,659',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Thriller',
 'Votes:',
 '82,567',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '292,506',
 'TV-MA',
 '|',
 '46 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '249,161',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Comedy, Romance',
 'Votes:',
 '230,110',
 'TV-PG',
 '|',
 '45 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '219,351',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Crime, Drama, Romance',
 'Votes:',
 '262,871',
 'TV-MA',
 '|',
 '53 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '733,332',
 'TV-MA',
 '|',
 '44 min',
 '|',
 'Drama, Horror, Sci-Fi',
 'Votes:',
 '132,958',
 'TV-MA',
 '|',
 '22 min',
 '|',
 'Animation, Comedy',
 'Votes:',
 '346,692',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '255,409',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Adventure, Drama, Fantasy',
 'Votes:',
 '561,721',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama',
 'Votes:',
 '568,372',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Mystery',
 'Votes:',
 '473,014',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '61,737',
 'TV-MA',
 '|',
 '44 min',
 '|',
 'Drama, Sci-Fi, Thriller',
 'Votes:',
 '112,558',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '346,519',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '75,463',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Action, Adventure, Drama',
 'Votes:',
 '106,477',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Sci-Fi, Thriller',
 'Votes:',
 '244,135',
 'TV-14',
 '|',
 '60 min',
 '|',
 'Drama, Fantasy, Horror',
 'Votes:',
 '98,751',
 'TV-14',
 '|',
 '41 min',
 '|',
 'Drama',
 'Votes:',
 '98,638',
 'TV-PG',
 '|',
 '60 min',
 '|',
 'Comedy',
 'Votes:',
 '52,897',
 'TV-PG',
 '|',
 '44 min',
 '|',
 'Comedy, Drama, Music',
 'Votes:',
 '150,540',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Animation, Comedy',
 'Votes:',
 '378,519',
 'TV-14',
 '|',
 '22 min',
 '|',
 'Comedy, Crime',
 'Votes:',
 '326,028',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Mystery, Sci-Fi',
 'Votes:',
 '108,030',
 'TV-14',
 '|',
 '60 min',
 '|',
 'Action, Adventure, Comedy',
 'Votes:',
 '254,473',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '584,082',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Drama, Fantasy, Mystery',
 'Votes:',
 '107,125',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Comedy, Drama, Mystery',
 'Votes:',
 '131,534',
 'TV-MA',
 '|',
 '46 min',
 '|',
 'Crime, Drama',
 'Votes:',
 '554,903',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Drama, Horror, Mystery',
 'Votes:',
 '110,326',
 'TV-MA',
 '|',
 '53 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '243,000',
 'TV-MA',
 '|',
 '30 min',
 '|',
 'Comedy, Drama',
 'Votes:',
 '93,093',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Drama',
 'Votes:',
 '23,402',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Comedy, Drama, Romance',
 'Votes:',
 '147,617',
 'TV-PG',
 '|',
 '22 min',
 '|',
 'Comedy, Drama, Fantasy',
 'Votes:',
 '167,117',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Action, Adventure, Crime',
 'Votes:',
 '133,628',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Drama, Sci-Fi, Thriller',
 'Votes:',
 '38,536',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '298,846',
 'TV-14',
 '|',
 '44 min',
 '|',
 'Drama, Mystery, Thriller',
 'Votes:',
 '121,462',
 'TV-MA',
 '|',
 '55 min',
 '|',
 'Action, Crime, Drama',
 'Votes:',
 '133,684',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Drama, Thriller',
 'Votes:',
 '75,455',
 'TV-MA',
 '|',
 '50 min',
 '|',
 'Action, Adventure, Crime',
 'Votes:',
 '110,322',
 'TV-MA',
 '|',
 '60 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '205,724',
 'TV-MA',
 '|',
 '45 min',
 '|',
 'Comedy, Drama, Thriller',
 'Votes:',
 '29,945',
 'TV-14',
 '|',
 '43 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '188,711',
 'TV-MA',
 '|',
 '58 min',
 '|',
 'Biography, Drama, History',
 'Votes:',
 '226,884',
 'TV-MA',
 '|',
 '330 min',
 '|',
 'Drama, History, Thriller',
 'Votes:',
 '779,874',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Comedy, Crime, Drama',
 'Votes:',
 '69,991',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Drama',
 'Votes:',
 '50,970',
 'TV-PG',
 '|',
 '50 min',
 '|',
 'Adventure, Comedy, Drama',
 'Votes:',
 '62,951',
 'TV-14',
 '|',
 '42 min',
 '|',
 'Crime, Drama, Mystery',
 'Votes:',
 '204,577',
 'TV-14',
 '|',
 '45 min',
 '|',
 'Comedy, Crime, Drama',
 'Votes:',
 '42,306',
 'TV-MA',
 '|',
 '572 min',
 '|',
 'Drama, Horror, Mystery',
 'Votes:',
 '253,051']

In [67]:
votes1=votes[6::7]
#votes1

In [51]:
len(votes1)

100

In [65]:
df7=pd.DataFrame({'Name':name_7,'Year Span':year_7,'Genre':genre_7,'Run Time':run_time,'Rating':rating1,'Total Votes':votes1})
df7

,Name,Year Span,Genre,Run Time,Rating,Total Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,135,558"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,220,982"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,013,664"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"298,669"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"257,555"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,970"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,951"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"204,577"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,306"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"253,051"

# Assignment 8

In [16]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [17]:
driver.get('https://archive.ics.uci.edu/')

In [18]:
dataset=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
dataset.click()

In [20]:
data=[]
data1=driver.find_elements(By.XPATH,'//p[@class="normal"]/b')
for i in data1:
    data.append(i.text)

In [22]:
len(data)

622

In [30]:
main1=[]
data1=driver.find_elements(By.XPATH,'//p[@class="normal"]')
for i in data1:
    main1.append(i.text)

In [31]:
main1

['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)',
 'Categorical (38)\nNumerical (422)\nMixed (55)',
 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)',
 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)',
 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)',
 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)',
 'Matrix (439)\nNon-Matrix (183)',
 'Table View  List View',
 'Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 'Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 'Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 'Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 'Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 'Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 'Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 'Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 'Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 'Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 'Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 'Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 'Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 'Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 'Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 'Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 'Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 'Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 'Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 'EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 'Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 'Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 'Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 'Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 'Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 'Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 'Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 'Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 'ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 'Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 'Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 'Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 'ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 'Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 'Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 'Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 'Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 'Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 'Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 'Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 'Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 'Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 'Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 'Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 'Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 'Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 'Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 'Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 'Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 'Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 'Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 'Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 'Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 'Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 'Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 'Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 'Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 'Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 'Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 'SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 'SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 'Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 'Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 'Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 'Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 'University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 'Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 'Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 'Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 'Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 'Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 'Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 'US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 'Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 'E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 'El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 'CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 'Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 'IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 'M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 'UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 ...]

In [32]:
main_new=main1[8:]
main_new

['Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 'Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 'Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 'Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 'Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 'Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 'Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 'Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 'Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 'Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 'Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 'Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 'Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 'Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 'Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 'Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 'Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 'Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 'Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 'EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 'Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 'Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 'Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 'Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 'Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 'Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 'Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 'Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 'ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 'Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 'Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 'Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 'ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 'Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 'Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 'Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 'Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 'Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 'Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 'Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 'Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 'Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 'Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 'Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 'Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 'Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 'Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 'Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 'Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 'Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 'Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 'Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 'Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 'Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 'Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 'Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 'Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 'Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 'Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 'SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 'SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 'Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 'Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 'Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 'Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 'University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 'Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 'Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 'Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 'Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 'Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 'Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 'US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 'Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 'E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 'El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 'CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 'Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 'IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 'M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 'UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 '20 ',
 '1994 ',
 'Statlog (Heart)',
 'Multivariate ',
 'Classification ',
 'Categorical, Real ',
 '270 ',
 '13 ',
 ...]

In [42]:
name=[]
data_type=[]
task=[]
attribute_type=[]
instances=[]
attributes=[]
year=[]
name=main_new[:-2:7]
data_type=main_new[1:-1:7]
task=main_new[2::7]
attribute_type=main_new[3::7]
instances=main_new[4::7]
attributes=main_new[5::7]
year=main_new[6::7]

In [43]:
len(name),len(data_type),len(task),len(attribute_type),len(instances),len(attributes),len(year)

(622, 622, 622, 622, 622, 622, 622)

In [44]:
df8=pd.DataFrame({'Name':name,'Data Type':data_type, 'Default Task':task,'Attribute Type': attribute_type, 'Instances':instances,'Attribute':attributes,'Year':year})
df8

,Name,Data Type,Default Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# Assignment 9

In [45]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [46]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [47]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.click()

In [48]:
search.send_keys('Data science')
click1=driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
click1.click()

In [51]:
name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]
name1=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in name1:
    name.append(i.text)
    
Designation1=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in Designation1:
    Designation.append(i.text)
    
Company1=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in Company1:
    Company.append(i.text)
    
Skills1=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in Skills1:
    Skills.append(i.text)
    
Location1=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in Location1:
    Location.append(i.text)

In [56]:
Company=Company[1::2]

In [111]:
Location.insert(31,'Nan')

In [112]:
len(name),len(Designation),len(Company),len(Skills),len(Location)

(50, 50, 50, 50, 50)

In [114]:
df9=pd.DataFrame({'Name':name,'Designation':Designation,'Company':Company,'Skills':Skills,'Locations':Location})
df9

,Name,Designation,Company,Skills,Locations
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
17,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
18,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
19,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
20,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
24,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
28,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
29,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
30,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
31,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Nan
32,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai